 .static{
 	position: static;
 }

 .relative{
 	position: relative;
 	top:180px;
 	left:20px;
 	background-color: blue;
 	width: 500px;


 }
  .fixed{
  	position: fixed;
  	bottom: 0;
  	right: 0;
  	width: 200px;
  	background-color: red;
  }
   .absolute{
   	position:absolute;
   	top:120px;
   	right: 0;
   	width: 300px;
   	height: 200px;

   }

   html{
   	font:75% verdana,sans-serif;
   }

   h2{
   	color:#0000;
   	font-weight: bold;
   	font-size: 18px;
   }

   #especial{
   	background-color:red;
   	color:yellow;

   }
   
   p{
   	color:cyan;
   }